.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.cards {
  width: 200px;
  height: 150px;

  font-size: x-large;
  border-radius: 20px;
}
.main-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 50px;
}
input {
  width: 300px;
  border-radius: 10px;
  height: 40px;
}
input:hover {
  border: 2px solid red;
}
form {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(228, 223, 223);
}
.card-body {
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  /* border-radius: 10px; */
  border: 0.5px solid rgb(209, 209, 205);
  background-color: rgb(209, 209, 205);
}

.see-data {
  font-size: xx-large;
  border-radius: 10px;
  background-color: rgb(71, 84, 52);
  color: whitesmoke;
}
.button-delete {
  background-color: rgb(209, 209, 205);
  /* border-radius: 0px 0px 2px 2px; */
  border: 0.5px solid rgb(209, 209, 205);
}

@media screen and (max-width: 1200px) {
  .main-card {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 50px;
  }
}

@media screen and (max-width: 800px) {
  .main-card {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 50px;
  }
  .mr-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
