.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  width: 100%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cards {
  width: 200px;
  height: 150px;

  font-size: x-large;
  border-radius: 20px;
}
.main-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 50px;
}
input {
  width: 300px;
  border-radius: 10px;
  height: 40px;
}
input:hover {
  border: 2px solid red;
}
form {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(228, 223, 223);
}
.card-body {
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: rgb(209, 209, 205);
}

.see-data {
  font-size: xx-large;
  border-radius: 10px;
  background-color: rgb(71, 84, 52);
  color: whitesmoke;
}
